@model MVCBlogDemo.Models.ApplicationUserInfo

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string imageBase64 = Convert.ToBase64String(Model.Avatar.Content);
    string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
}

<h2>View</h2>

<div>
    <h4>ApplicationUserInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.Image(Model.Avatar.Content, new { @class = "avatar" })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
