@model MVCBlogDemo.Models.ApplicationUserInfo

@{
    ViewBag.Title = "Profile for " + Model.DisplayName;
}

<h1>@Html.DisplayFor(m => m.DisplayName)</h1>
<p>@Html.DisplayFor(m => m.Bio)</p>
@if (ViewBag.isCurrentUser == true)
{
    <a href="~/UserInfo/Edit">Edit my info</a>
}

@foreach (var item in Model.ApplicationUser.Posts)
{
    <hr />
    <article>
        <p>@Html.DisplayFor(modelItem => item.Date)</p>
        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
        <div class="postContent">@Html.Raw(item.Render)</div>
    </article>
}