@model MVCBlogDemo.Models.Post

@{
    ViewBag.Title = "View";
}
<br/>
<article class="post">
    <p>@Html.Image(Model.Author.UserInfo.Avatar.Content, new { width = 100, height = 100, @class = "avatar" })<a href="~/User/Profile/@Model.Author.Id">@Model.Author.UserInfo.DisplayName</a> @Model.Date</p>
    <h1>@Model.Title</h1>
    <div class="postContent">@Html.Raw(Model.Render)</div>
</article>
