@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="dropdown nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li>@Html.RouteLink("Admin", new { @controller = "Admin" })</li>
            }
            <li id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a class="accountDropdownButton">Account</a>
            </li>
            <div class="dropdown-menu">
                <li>
                    <ul class="" aria-labelledby="dLabel">
                        <li>@Html.ActionLink("My Profile", "Profile", "User", new { id = User.Identity.GetUserId() }, null)</li>
                        <li>@Html.ActionLink("My Favourites", "Favourites", "User", new { id = User.Identity.GetUserId() }, null) </li>
                        <li>@Html.ActionLink("Manage Account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </li>
            </div>
        </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
